# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare files as text and normalize to LF in repo
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.java text eol=lf
*.properties text eol=lf
*.xml text eol=lf
*.sql text eol=lf
*.env text eol=lf
*.example text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
